Convertendo dados no pandas

In [5]:
import pandas as pd
from numpy import int64

data = pd.read_csv("datasets/kc_house_data.csv")

Como converter os tipos de variáveis?

In [6]:

# Converter de String para Data

data['date'] = pd.to_datetime(data['date'])

print(data.head())

           id       date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520 2014-10-13  221900.0         3       1.00         1180
1  6414100192 2014-12-09  538000.0         3       2.25         2570
2  5631500400 2015-02-25  180000.0         2       1.00          770
3  2487200875 2014-12-09  604000.0         4       3.00         1960
4  1954400510 2015-02-18  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

In [7]:
# Converter de Inteiro para Float

data['bedrooms'] = data['bedrooms'].astype(float)

print(data.dtypes)
print(data[['id', 'bedrooms']].head(3))

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                float64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object
           id  bedrooms
0  7129300520       3.0
1  6414100192       3.0
2  5631500400       2.0

In [9]:
# Converter de Float para Inteiro

# Se for Windows vai converter para int32
# data['bedrooms'] = data['bedrooms'].astype(int)

# Obrigatório usar apenas um tipo de int na base de dados (int32 ou int64)
data['bedrooms'] = data['bedrooms'].astype(int64)

print(data.dtypes)
print(data[['id', 'bedrooms']].head(3))

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object
           id  bedrooms
0  7129300520         3
1  6414100192         3
2  5631500400         2

In [10]:
# Converter de Inteiro para String

data['bedrooms'] = data['bedrooms'].astype(str)

print(data.dtypes)
print(data[['id', 'bedrooms']].head(3))

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                 object
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object
           id bedrooms
0  7129300520        3
1  6414100192        3
2  5631500400        2

In [11]:
# Converter de String para Inteiro

data['bedrooms'] = data['bedrooms'].astype(int64)

print(data.dtypes)
print(data[['id', 'bedrooms']].head(3))

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object
           id  bedrooms
0  7129300520         3
1  6414100192         3
2  5631500400         2