Convertendo dados no pandas

In [3]:
import pandas as pd
from numpy import int64

data = pd.read_csv("datasets/kc_house_data.csv")

Manipulando as variáveis:
- Criar (colunas de variáveis e novas linhas)
- Deletar (colunas de variáveis e novas linhas)
- Selecionar:
    - 4 formas de selecionar dados:
        - Forma 01: Direto pelo nome da coluna;
        - Forma 02: Pelo indice das colunas;
        - Forma 03: Pelos indices das linhas e pelo nome das colunas;
        - Forma 04: Pelos indices booleanos (True e False)

In [17]:

# Criando novas Variáveis

data['nova_coluna'] = 'nova_coluna'
data['nova_coluna_int'] = 90
data['nova_coluna_data'] = pd.to_datetime('2022-10-21')

print(data[['id','nova_coluna_int', 'nova_coluna', 'nova_coluna_data']].head)

<bound method NDFrame.head of                id  nova_coluna_int  nova_coluna nova_coluna_data
0      7129300520               90  nova_coluna       2022-10-21
1      6414100192               90  nova_coluna       2022-10-21
2      5631500400               90  nova_coluna       2022-10-21
3      2487200875               90  nova_coluna       2022-10-21
4      1954400510               90  nova_coluna       2022-10-21
...           ...              ...          ...              ...
21608   263000018               90  nova_coluna       2022-10-21
21609  6600060120               90  nova_coluna       2022-10-21
21610  1523300141               90  nova_coluna       2022-10-21
21611   291310100               90  nova_coluna       2022-10-21
21612  1523300157               90  nova_coluna       2022-10-21

[21613 rows x 4 columns]>

In [18]:

# Deletando Variáveis

print(data.columns)
# Axis define o sentido do drop (Linha ou Coluna)
data = data.drop('nova_coluna', axis=1)
print(data.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'nova_coluna_data',
       'nova_coluna', 'nova_coluna_int'],
      dtype='object')
Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'nova_coluna_data',
       'nova_coluna_int'],
      dtype='object')

Selecionar Dados

In [21]:
# Forma 01: Direto pelo nome da coluna;

cols = ['price', 'id', 'nova_coluna_int']
print(data[cols])

          price          id  nova_coluna_int
0      221900.0  7129300520               90
1      538000.0  6414100192               90
2      180000.0  5631500400               90
3      604000.0  2487200875               90
4      510000.0  1954400510               90
...         ...         ...              ...
21608  360000.0   263000018               90
21609  400000.0  6600060120               90
21610  402101.0  1523300141               90
21611  400000.0   291310100               90
21612  325000.0  1523300157               90

[21613 rows x 3 columns]

In [25]:

# Forma 02: Pelo indice das colunas;
# DADOS[linhas, colunas]
print(data.iloc[0:10, 0:3])

           id             date      price
0  7129300520  20141013T000000   221900.0
1  6414100192  20141209T000000   538000.0
2  5631500400  20150225T000000   180000.0
3  2487200875  20141209T000000   604000.0
4  1954400510  20150218T000000   510000.0
5  7237550310  20140512T000000  1225000.0
6  1321400060  20140627T000000   257500.0
7  2008000270  20150115T000000   291850.0
8  2414600126  20150415T000000   229500.0
9  3793500160  20150312T000000   323000.0

In [28]:

# Forma 03: Pelos indices das linhas e pelo nome das colunas;

print(data.loc[0:10, ['id','price']])

            id      price
0   7129300520   221900.0
1   6414100192   538000.0
2   5631500400   180000.0
3   2487200875   604000.0
4   1954400510   510000.0
5   7237550310  1225000.0
6   1321400060   257500.0
7   2008000270   291850.0
8   2414600126   229500.0
9   3793500160   323000.0
10  1736800520   662500.0

In [31]:
# Forma 04: Pelos indices booleanos (True e False)
# 1 ou 0

#['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
#       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
#       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
#       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'nova_coluna_data',
#       'nova_coluna_int']

print(data.columns)

cols = [True, False, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]
print(data.loc[0:10, cols])

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'nova_coluna_data',
       'nova_coluna_int'],
      dtype='object')
            id      price  bedrooms
0   7129300520   221900.0         3
1   6414100192   538000.0         3
2   5631500400   180000.0         2
3   2487200875   604000.0         4
4   1954400510   510000.0         3
5   7237550310  1225000.0         4
6   1321400060   257500.0         3
7   2008000270   291850.0         3
8   2414600126   229500.0         3
9   3793500160   323000.0         3
10  1736800520   662500.0         3